<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static '/css/home.css' %}">
  <link rel="icon" href="{% static '/icon/favicon.ico' %}">

  <title>Chatroom Application</title>
</head>

<body>
  <div align="center">
      <h2>Chatroom Application</h2>
  </div>
  <div class="container">
    <div class="explanation">
      <h3> What is the goal of the application? </h3>
      <p> The goal of the application is to create a chatroom application that allows users to create chatrooms and join chatrooms with others. This enables people to send messages and be received in real-time. </p>
    </div>
    <form id="post-form" method="POST" action="checkview">
        {% csrf_token %}
        <label>Name of Chatroom</label>
        <input type="text" name="room_name" id="room_name" width="100px" />
        <label>Your Username</label>
        <input type="text" name="username" id="username" width="100px" />
        <input type="submit" value="Enter Room">
    </form>
  </div>

  <div class="spacer"></div>
  {% include 'footer.html' %}
</body>
</html>