<!DOCTYPE html>
<html>

<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href=" {% static '/css/room.css' %} ">
  <link rel="icon" href="{% static '/icon/favicon.ico' %}">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{room}} - Chatroom Application</title>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="  crossorigin="anonymous"></script> 
</head>

<body>
  <h2>Chatroom Application</h2>
  <h3>Room Name: {{room}}</h3>
  <div id="display"></div>

  <div class="container">
    <form id="post-form">
      {% csrf_token %}
      <input type="hidden" name="username" id="username" value="{{username}}"/>
      <input type="hidden" name="room_id" id="room_id" value="{{room_details.id}}"/>
      <input type="text" name="message" id="message" width="100px" />
      <input type="submit" value="Send">
    </form>
  </div>
</body>

<script type="text/javascript">
  $(document).on('submit','#post-form',function(e){ // preventing the reloading of the page
    e.preventDefault();

    $.ajax({ // using AJAX to send the data to SEND
      type:'POST',
      url:'/send',
      data:{
          username:$('#username').val(),
          room_id:$('#room_id').val(),
          message:$('#message').val(),
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
      },
      success: function(data){ //if the HTTPResponse is sucessfully sent
        alert(data)
      }
    });
    document.getElementById('message').value = '' // clearing the input field using JavaScript
  });
</script>

<script>
  $(document).ready(function(){ // loading the document
  setInterval(function(){ 
    $.ajax({ // using AJAx to get the data from the URL, getMessages
      type: 'GET',
      url : "/getMessages/{{room}}/",
      success: function(response){
        console.log(response); //if it suceeds, show the response in the console
        $("#display").empty(); 
        for (var key in response.messages) //loop through every message
        {
          var temp="<div class='container darker'><b>"+"User: " + response.messages[key].user+"</b><p>"+ "Message: " + response.messages[key].value+"</p><span class='time-left'>"+"Date: " + response.messages[key].date+"</span></div>";
          $("#display").append(temp); // adding the previous messages in the chat room and appending it to the div
        }
      },
      error: function(response){ // if it fails, alert for an error
          alert('An error occured')
      }
    });
    },500); //make it repeat every half second
  });
</script>
</html>